<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Ingrese sus datos</h1>

  <ion-list>

  <ion-item>
    <ion-label>Nombre de usuario</ion-label>
    <ion-input placeholder="Ingrese nombre de usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>

</ion-list>

<ion-button></ion-button>

</ion-content>

